node_modules
dist/
build/
.idea/
.DS_Store
*.log
/coverage/
/test-report.xml
*.code-workspace
/e2e/cypress/videos
/e2e/cypress/screenshots
/e2e/cypress/**/*.actual.png
/e2e/cypress/**/*.diff.png
.vscode/*
/bundle-analyze-report.html
/stats.json
/stats.json.gz
/size-report.txt
/size-report-bytes.csv
/size-report-filecount.csv