/* Font APIs */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: var(--main-white-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third-bluegrey-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sec-purple-color);
}

:root {
  --main-white-color: rgb(247, 248, 246);
  --main-black-color: rgb(19, 22, 28);
  --main-blackAlpha-color: rgba(19, 22, 28, 0.53);
  --sec-purple-color: rgb(63, 24, 170);
  --sec-orange-color: rgb(232, 127, 56);
  --third-blue-color: rgb(127, 150, 247);
  --thrid-teal-color: rgb(0, 55, 74);
  --third-paleorange-color: rgb(249, 196, 160);
  --third-turquoise-color: rgb(145, 229, 206);
  --third-redorange-color: rgb(168, 73, 36);
  --third-bluegrey-color: rgb(206, 216, 244);
  --third-purple-color: rgb(63, 24, 170);
  --third-orange-color: rgb(232, 127, 56);
  --font-size-xtiny: 12px;
  --font-size-tiny: 14px;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xlarge: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  background: var(--third-orange-color);
}

.country-select {
  background: var(--third-bluegrey-color);
  border: none;
  border-radius: 0;
  font-size: var(--font-size-small);
  font-weight: 600;
  margin: 10px 0;
  width: 65%;
}

.react-select-container {
  border: none;
  border-radius: 0;
  padding: 0;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__control {
  background: var(--third-bluegrey-color) !important;
  border: none !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  padding: 0;
}

.react-select__value-container {
  background: var(--third-bluegrey-color);
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.react-select__indicator {
  border: none;
  border-radius: 0;
  color: var(--main-black-color) !important;
  opacity: 1;
}

.react-select__menu {
  background: var(--third-bluegrey-color) !important;
  border: none;
  border-radius: 0 !important;
  opacity: 1;
}

.react-select__menu-list {
  border: none;
  border-radius: 0;
  opacity: 1;
}

.react-select__option {
  border: none;
  border-radius: 0;
  display: none;
}
